img {
    max-width: 90%;
    max-height: 90%;
    height: auto;
}

.slider {
    margin: auto;
    max-width: 80%;
    max-height: 100%;
    font-family: happyhappy;
}

.slider .top {
    height: 10%;
    line-height: 100px;
    text-align: center;
    font-size: 3em;
}

.slider .middle {
    height: 70%;
}

.slider .bottom {
    height: 20%;
    text-align: center;
}

.middle {
    margin: auto;
}

.middle input {
    width: 100%;
    border-radius: 4px;
    height: 40px;
    margin-bottom: 8px;
    margin-top: 0px;
    padding: 0px;
}

.middle select {
    width: 100%;
    border-radius: 4px;
    height: 40px;
    margin-bottom: 8px;
    margin-top: 0px;
    padding: 0px;
}

.middle label {
    font-size: 2em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 8px;
    margin-top: 8px;
}

.cardbox {
    float: left;
    line-height: 200px;
}

@media screen and (min-width: 780px) {
    .cardbox {
        float: left;
        line-height: 400px;
    }
}

.cardbox.left-arrow {
    text-align: center;
    width: 10%;
}

.cardbox.virtual-acc {
    text-align: center;
    margin: auto;
    width: 80%;
}

.cardbox.right-arrow {
    text-align: center;
    width: 10%;
}

.bottom {
    text-align: center;
}