.login-box {
    width: 500px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    text-align: center;
}
.login-box h1{
    color: black;
    text-transform: uppercase;
    font-weight: 300;
}

.login-box input[type="text"], .login-box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    outline: none;
    width: 200px;
    color: white;
    border-radius: 25px;
    transition: 0.25s;
}

.login-box input[type="text"]:focus, .login-box input[type="password"]:focus {
    width : 280px;
    border-color: #e67e22;
}
.login-box button{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center; 
    border: 2px solid #e67e22;
    padding: 14px 40px;
    outline: none;
    color: rgba(255, 166, 0, 0.753);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.login-box button:hover{
    background: #e67e22;
}